<div class="first-block">

<div class="second-block">
    <h3>都道府県を選択</h3>


    <div class="preflist">
        <p class="region">北海道・東北</p>
        <ul class="hokkaidoutouhoku">
            <li class="pref"><%= link_to '北海道', tweets_path(prefecture: '北海道') %></li>
            <li class="pref"><%= link_to '青森県', tweets_path(prefecture: '青森県') %></li>
            <li class="pref"><%= link_to '岩手県', tweets_path(prefecture: '岩手県') %></li>
            <li class="pref"><%= link_to '秋田県', tweets_path(prefecture: '秋田県') %></li>
            <li class="pref"><%= link_to '宮城県', tweets_path(prefecture: '宮城県') %></li>
            <li class="pref"><%= link_to '山形県', tweets_path(prefecture: '山形県') %></li>
            <li class="pref"><%= link_to '福島県', tweets_path(prefecture: '福島県') %></li>
        </ul>
        <p class="region">関東</p>
        <ul class="kantou">
            <li class="pref"><%= link_to '茨城県', tweets_path(prefecture: '茨城県') %></li>
            <li class="pref"><%= link_to '栃木県', tweets_path(prefecture: '栃木県') %></li>
            <li class="pref"><%= link_to '群馬県', tweets_path(prefecture: '群馬県') %></li>
            <li class="pref"><%= link_to '埼玉県', tweets_path(prefecture: '埼玉県') %></li>
            <li class="pref"><%= link_to '千葉県', tweets_path(prefecture: '千葉県') %></li>
            <li class="pref"><%= link_to '神奈川県', tweets_path(prefecture: '神奈川県') %></li>
            <li class="pref"><%= link_to '東京都', tweets_path(prefecture: '東京都') %></li>
        </ul>
        <p class="region">中部</p>
        <ul class="chuubu">
            <li class="pref"><%= link_to '新潟県', tweets_path(prefecture: '新潟県') %></li>
            <li class="pref"><%= link_to '富山県', tweets_path(prefecture: '富山県') %></li>
            <li class="pref"><%= link_to '石川県', tweets_path(prefecture: '石川県') %></li>
            <li class="pref"><%= link_to '福井県', tweets_path(prefecture: '福井県') %></li>
            <li class="pref"><%= link_to '山梨県', tweets_path(prefecture: '山梨県') %></li>
            <li class="pref"><%= link_to '長野県', tweets_path(prefecture: '長野県') %></li>
            <li class="pref"><%= link_to '岐阜県', tweets_path(prefecture: '岐阜県') %></li>
            <li class="pref"><%= link_to '静岡県', tweets_path(prefecture: '静岡県') %></li>
            <li class="pref"><%= link_to '愛知県', tweets_path(prefecture: '愛知県') %></li>
        </ul>
        <p class="region">近畿</p>
        <ul class="kinki">
            <li class="pref"><%= link_to '三重県', tweets_path(prefecture: '三重県') %></li>
            <li class="pref"><%= link_to '滋賀県', tweets_path(prefecture: '滋賀県') %></li>
            <li class="pref"><%= link_to '大阪府', tweets_path(prefecture: '大阪府') %></li>
            <li class="pref"><%= link_to '京都府', tweets_path(prefecture: '京都府') %></li>
            <li class="pref"><%= link_to '兵庫県', tweets_path(prefecture: '兵庫県') %></li>
            <li class="pref"><%= link_to '奈良県', tweets_path(prefecture: '奈良県') %></li>
            <li class="pref"><%= link_to '和歌山県', tweets_path(prefecture: '和歌山県') %></li>
        </ul>
        <p class="region">中国・四国</p>
        <ul class="tyuugokusikoku">
            <li class="pref"><%= link_to '鳥取県', tweets_path(prefecture: '鳥取県') %></li>
            <li class="pref"><%= link_to '島根県', tweets_path(prefecture: '島根県') %></li>
            <li class="pref"><%= link_to '岡山県', tweets_path(prefecture: '岡山県') %></li>
            <li class="pref"><%= link_to '広島県', tweets_path(prefecture: '広島県') %></li>
            <li class="pref"><%= link_to '山口県', tweets_path(prefecture: '山口県') %></li>
            <li class="pref"><%= link_to '徳島県', tweets_path(prefecture: '徳島県') %></li>
            <li class="pref"><%= link_to '香川県', tweets_path(prefecture: '香川県') %></li>
            <li class="pref"><%= link_to '愛媛県', tweets_path(prefecture: '愛媛県') %></li>
            <li class="pref"><%= link_to '高知県', tweets_path(prefecture: '高知県') %></li>
        </ul>
        <p class="region">九州・沖縄</p>
        <ul class="kyuusyuuokinawa">
            <li class="pref"><%= link_to '福岡県', tweets_path(prefecture: '福岡県') %></li>
            <li class="pref"><%= link_to '佐賀県', tweets_path(prefecture: '佐賀県') %></li>
            <li class="pref"><%= link_to '長崎県', tweets_path(prefecture: '長崎県') %></li>
            <li class="pref"><%= link_to '熊本県', tweets_path(prefecture: '熊本県') %></li>
            <li class="pref"><%= link_to '大分県', tweets_path(prefecture: '大分県') %></li>
            <li class="pref"><%= link_to '宮崎県', tweets_path(prefecture: '宮崎県') %></li>
            <li class="pref"><%= link_to '鹿児島県', tweets_path(prefecture: '鹿児島県') %></li>
            <li class="pref"><%= link_to '沖縄県', tweets_path(prefecture: '沖縄県') %></li>
        </ul>
        </div>
    </div>
</div>